<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/about.css">
  </head>
  <body>
    <%-include('includes/header') %>

    <main>
      <h2>안녕하세요</h2>
      <div id="content-container">
        <p id="content">
          본 페이지는 저에 대한 소개를 하는 페이지입니다.
          <br>
          저는 현재 숭실대학교 2학년까지 마치고 휴학 중인 사람입니다.
          <br>
          제가 좋아하는 몇 가지 스타일과 스테디를 소개할게요.
          <br><br>
          예전엔 편한 옷이 좋아 스웻 소재류의 옷을 주로 입었어요. 그때 많이 입은 브랜드가 하이파이펑크, 라우코 하우스 그리고 많이들 알고 있는 Thisisneverthat이나 YESEYESEE 였던 거 같아요. 지금도 Thisisneverthat이나 YESEYESEE는 종종 입는데 점점 취향이 변해가고 있다는 게 느껴져요. 갈수록 단정하고 클래식?까진 아니더라도 그런 옷이 좋더라고요.
          <br><br>
          하지만, 가장 많이 변하고 있는 건 취향보다도 비용에 대한 가치관입니다. 처음에는 돈이 없죠. 학생인데 무슨 돈이 있겠어요. 그래서 당연히 가성비를 많이 따져서 옷을 샀습니다. 여러 플랫폼을 비교해봤을 때? 최종가격이 가장 싼 곳을 찾고 그랬습니다. 근데 알바라는 것을 하면서 좀 변하더라고요. 시급을 13,000으로 꽤나 받아서 일주일에 한 40만원씩 주급으로 받았어요. 그러니까 이제 원단이라는 것에 초점을 둔 거 같아요. 그리고 지금까지도 원단을 중심으로 옷을 만져보고 입고 있어요. 제가 생각하는 대표적인 가성비 & 가심비 반반..? 되는 브랜드는 <span>아웃스탠딩</span>이라고 생각합니다. 아메카지 풍의 브랜드긴 하지만, 일반인들도 그냥 편하게 입을 수 있을 정도의 옷을 내놓고 있어서 호불호없이 좋아할 수 있는 브랜드입니다. 
          <br><br>
          원단, 스타일에 대한 취향은 합정, 홍대에서 볼 수 있는 오버핏이 아닌 클래식에 가까워지고 있어요. 정확히는 일본에 갔다온 후로 더 확고해진 거 같아요. 일본에서 여러 편집샵을 가보고 나서 데님에 빠진 거 같아요. 빠졌다라기보다 진짜 멋있어 보였어요.
          <img src="/images/오카야마.webp" alt="">
          <br>
          근데 좀 유명한 브랜드 뭐...풀카운트, 에비스, warehouse 같은 곳의 데님을 보면 아무래도 알바로 먹고 사는 학생들이 사기엔 부담이 커요. 진짜 햇반만 먹어야 되거든요. 그래서 가볍게 추천하는 브랜드는 또 <span>아웃스탠딩</span>이 있고, 근데 아웃스탠딩이 진짜 좋아요. 그리고 <span>브론슨, 슈가케인, 프리즘웍스</span> 정도가 있을 거 같아요.
          <br><br>
          또한, 국내 브랜드도 충분히 잘 만드는 곳이 많다고 생각해요. 비슷한 비용이라면 국내가 국외 브랜드보다 좋다고 생각해요. 비슷한 비용이라면, 얼마를 남기는 지는 잘 모르지만 국외는 유통비가 붙어요. 그럼 제작비는 국내 브랜드에서 더 쓴 거 아닐까요(단순히 제 의견)?
          굳이 단점을 뽑자면 <span>브랜드의 역사</span>가 없다는 거죠. 그걸 따지는 사람이 아니라면 전 국내 브랜드 추천합니다. 
          <br><br>
          아메카지 스타일을 좋아하지만 진짜 일본의 아메카지 스타일을 보면 좀,,세요. 이를 테면 <span><a href="https://www.youtube.com/akizstyle">아키즈스타일</a></span>이라는 유튜버가 계서요. 이 분이 진짜 고수신데 따라입기에는 솔직히 저는 좀 세요. 저는 스웻 맨투맨이나, 후드 그리고 데님 입는 정도가 딱 스테디하다 생각하고 그렇게 입고 다녀요. 요즘은 담백하고 깔끔하게 입는 게 좋더라고요. 키링이나 그런 포인트가 없어도. 그리고 이젠 날씨도 추워지고 청자켓에도 눈길이 가서 이번에(2024.12.12) 브론슨 데님 타입1 자켓 하나 사서 헨리넥 위에 입고 그 위에 패딩입고 있어요. 데님을 입고 싶어서 밖을 나가게 되는 거 같아요.
          <br><br>
          그리고 개인적으로 저는 데님 자켓은 타입1을 가장 좋아해요. 그 중에서도 세계 대전 때의 타입 1을 좋아합니다. 
          <img src="/images/story/3-5.png" alt="">
          <br>
          단추도 4개에 주머니 덮개도 없는 게 가장 라이트해졌지만? 가장 깔끔, 담백, 클래식해 보여서 가장 좋아합니다.
          <span><a href="https://www.musinsa.com/products/4262843">이 제품</a></span> 대표적인 모델인데 예쁘지 않나요?
          <br><br>
          전 모자, 아우터, 상의, 하의, 신발 중 하의와 신발을 가장 중요시 여겨요. 밑에서의 실루엣이 그 날 하루를 결정하는 기분이에요.
        </p>
      </div>
    </main>

    <%-include('includes/footer') %>
  </body>
</html>
