<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/brand.css">
</head>
<body>
    <%-include('includes/header') %>

    <main>
        <h2>Brand</h2>
        <div id="content-container">
            <p id="content">
                "저의 취향이 가득 담긴"
                <br>
                단 하나의 브랜드도 포기할 수 없는 것들만 게시해뒀습니다. 
                <br>
                하나쯤은 좋아하실 거에요.
            </p>
        </div>
        <div id="grid-container">
            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://artifacts.co.kr" target="_blank">
                        <img src="/images/brand/artifact.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://artifacts.co.kr" target="_blank" class="link-text">Art if acts</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://outstanding-co.kr/" target="_blank">
                        <img src="/images/brand/outstanding.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://outstanding-co.kr/" target="_blank" class="link-text">OUTSTANDING</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://demilmfg.com/" target="_blank">
                        <img src="/images/brand/demil.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://demilmfg.com/" target="_blank" class="link-text">DEMIL MFG & CO</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://m.frizm.co.kr/" target="_blank">
                        <img src="/images/brand/frizmworks.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://m.frizm.co.kr/" target="_blank" class="link-text">FrizmWorks</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.espionage.co.kr/" target="_blank">
                        <img src="/images/brand/espionage.jpeg" alt="IMG">
                    </a>
                </div>
                <a href="https://www.espionage.co.kr/" target="_blank" class="link-text">ESPIONAGE</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://ware-house.co.kr/" target="_blank">
                        <img src="/images/brand/warehouse.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://ware-house.co.kr/" target="_blank" class="link-text">WareHouse</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.sugarcane.jp/" target="_blank">
                        <img src="/images/brand/슈가케인.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.sugarcane.jp/" target="_blank" class="link-text">SUGAR CANE</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.levi.co.kr/?srsltid=AfmBOoo693XFR9XQbF9sB62wPlllVQ90Q7PGXMlEcaWBdqsVfIxaF5hi" target="_blank">
                        <img src="/images/brand/리바이스.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.levi.co.kr/?srsltid=AfmBOoo693XFR9XQbF9sB62wPlllVQ90Q7PGXMlEcaWBdqsVfIxaF5hi" target="_blank" class="link-text">Levi's</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://fullcount.co/" target="_blank">
                        <img src="/images/brand/fullcount.png" alt="IMG">
                    </a>
                </div>
                <a href="https://fullcount.co/" target="_blank" class="link-text">FULLCOUNT</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.espionage.co.kr/shop/shopbrand ?xcode=102&type=X&gf_ref=Yz1jTXhvSW8=v" target="_blank">
                        <img src="/images/brand/bronson.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://www.espionage.co.kr/shop/shopbrand ?xcode=102&type=X&gf_ref=Yz1jTXhvSW8=" target="_blank" class="link-text">BRONSON</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://vdrstore.com/lookbook/list_basic.html?cate_no=43" target="_blank">
                        <img src="/images/brand/vdr.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://vdrstore.com/lookbook/list_basic.html?cate_no=43" target="_blank" class="link-text">VDR</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://uniformbridge.com/" target="_blank">
                        <img src="/images/brand/uniformbridge.png" alt="IMG">
                    </a>
                </div>
                <a href="https://uniformbridge.com/" target="_blank" class="link-text">UNIFORMBRIDGE</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.ralphlauren.co.kr/" target="_blank">
                        <img src="/images/brand/RRL.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.ralphlauren.co.kr/" target="_blank" class="link-text">RALPH LAUREN</a>
            </div>
            
            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.ralphlauren.co.kr/" target="_blank">
                        <img src="/images/brand/RRL.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.ralphlauren.co.kr/" target="_blank" class="link-text">RRL</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://intheraw.co.kr/" target="_blank">
                        <img src="/images/brand/intheraw.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://intheraw.co.kr/" target="_blank" class="link-text">INTHERAW</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://roughside.co.kr/" target="_blank">
                        <img src="/images/brand/roughside.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://roughside.co.kr/" target="_blank" class="link-text">rough side</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://999humanity.kr/" target="_blank">
                        <img src="/images/brand/999.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://999humanity.kr/" target="_blank" class="link-text">999휴머니티</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://noahny.kr/" target="_blank">
                        <img src="/images/brand/noah.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://noahny.kr/" target="_blank" class="link-text">Noah</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://shop.supreme.com/collections/all" target="_blank">
                        <img src="/images/brand/supreme.webp" alt="IMG">
                    </a>
                </div>
                <a href="https://shop.supreme.com/collections/all" target="_blank" class="link-text">Supreme</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.insanegarage.shop/" target="_blank">
                        <img src="/images/brand/insanegarage.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.insanegarage.shop/" target="_blank" class="link-text">INSANEGARAGE</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.carhartt-wip.co.kr/" target="_blank">
                        <img src="/images/brand/carhartt.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.carhartt-wip.co.kr/" target="_blank" class="link-text">Carhartt WIP</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://m.gramicci.kr/" target="_blank">
                        <img src="/images/brand/gramicci.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://m.gramicci.kr/" target="_blank" class="link-text">GRAMICCI</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.nike.com/kr?utm_source=Google&utm_medium=PS&utm_campaign=365DIGITAL_Google_SA_Keyword_Main_PC&cp=72646825390_search_&gad_source=1&gclid=Cj0KCQiA57G5BhDUARIsACgCYny4LyR_o-0g_wAFPAWjq_gJk0l3XSxJ-GDPFJTk-wvRt7QMKmew_6gaAlpQEALw_wcB" target="_blank">
                        <img src="/images/brand/nike.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.nike.com/kr?utm_source=Google&utm_medium=PS&utm_campaign=365DIGITAL_Google_SA_Keyword_Main_PC&cp=72646825390_search_&gad_source=1&gclid=Cj0KCQiA57G5BhDUARIsACgCYny4LyR_o-0g_wAFPAWjq_gJk0l3XSxJ-GDPFJTk-wvRt7QMKmew_6gaAlpQEALw_wcB" target="_blank" class="link-text">Nike</a>
            </div>
        </div>
    </main>

    <%-include('includes/footer') %>
</body>
</html>