<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/denim.css">
    <title>Denim</title>
  </head>
  <body>
    <%-include('includes/header') %>

    <main>
      <%- include('includes/banner', {banner:"Clothes Story"})%>

      <h3><span>(아주아주 재밌는)</span> 옷 이야기</h3>

      <!--에피소드 1-->
      <div id="container">
        <div class="content-container">
          <div class="img-container">
            <a href="/episode1">
              <img src="/images/brand/슈가케인.png" alt="이미지">
            </a>
          </div>
          <p>1장 - 데님의 역사</p>
          <a href="/episode1" class="subheading">청바지&데님의 유래</a>
        </div>

      <!--에피소드 2-->
        <div class="content-container">
          <div class="img-container">
            <a href="/episode2">
              <img src="/images/brand/리바이스.png" alt="이미지">
            </a>
          </div>
          <p>2장 - 리바이스의 탄생</p>
          <a href="/episode1" class="subheading">Levi's 시작</a>
        </div>

        <!--에피소드 3-->
        <div class="content-container">
          <div class="img-container">
            <a href="/episode3">
              <img src="/images/story/3-0.png" alt="이미지">
            </a>
          </div>
          <p>3장 - 청자켓 이야기</p>
          <a href="/episode1" class="subheading">Levi's & Lee</a>
        </div>
      </div>
    </main>

    <%-include('includes/footer') %>
  </body>
</html>
