<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/episode.css">
    <title>3장</title>
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <%- include('includes/banner', {banner:"Episode"})%>

        <h2>제 3장 - 아주아주 재밌는 청자켓 이야기</h2>

        <div id="container">
            <p class="basis-content">
            이번 장에서는 청바지가 아닌 청자켓에 대해 이야기 해보려 합니다. 옷장에 청자켓 하나쯤은 다들 가지고 계실 거라 생각합니다. 아래의 사진과 같이 청자켓은 다양한 디자인, 색상이 있습니다. 보통 Type(1,2,3)으로 나눕니다. 어떤 기준으로 나누며 어떠한 역사를 가지고 있는 지 가봅시다.
            <img  src="/images/story/3-1.jpg" alt="">
            </p>

            <p class="subheadline">알면 보이는 청자켓 이야기</p>
            <p class="basis-content">
              우선, 질문 하나 드려보겠습니다. 청바지가 먼저 일까요, 청자켓이 먼저일까요?
              <br>
              답은 <span class="hightlight">청바지</span>가 먼저입니다. 최초로 청바지라는 개념을 만들어낸 브랜드는 바로 첫 번 째 종파 <span class="hightlight">리바이스</span>입니다.   
              <img src="/images/story/3-2.png" alt="">
              리바이스는 대략 170년 전 최초로 청바지를 발명했고, 리바이스의 최초 청자켓은 1880년에 나왔습니다. 멋을 위해서가 아니라 작업하는 노동자를 위한 옷이었습니다. <span class="hightlight">"트리플 플리츠 블라우스"</span>. 그때까지는 자켓이 아니라 블라우스라고 불렀습니다. 가운데에 주름이 고정되어 있었는데  이걸 뜯으면 이 분량만큼 몸에 여유가 생깁니다. 몸집이 큰 사람이거나 옷을 껴입어도 편하기 위한 기능적인 이유입니다. 트리플 플리츠 블라우스는 말 그래도 세 개의 턱(플리츠)가 있는 블라우스였습니다. 
              <img class="half-img" src="/images/story/3-3.jpg" alt="">
            </p>

            <p class="subheadline">리바이스 청자켓의 세대</p>

            <p class="basis-content">
              리바이스의 청자켓은 1세대, 2세대, 3세대로 나눠서 구분됩니다. 재밌는 건 리바이스에서 공식적으로 지정한 것이 아니라 미국 옷을 좋아했던 일본 수집가들이 정한겁니다. 지금은 이 타입(세대)가 국제 표준처럼 되어서 리바이스에서도 type2, typ3 이렇게 구분합니다. 그 첫 번 째 세대는 트리플 플리츠 블라우스가 아니라 506자켓입니다. 굉장히 짧은 기장에 주름이 3개가 아니라 2개로 줄어 들었고 한 쪽에만 주머니가 있는 형태입니다. 
              <img src="/images/story/3-5.png" alt="">
              이 506 자켓은 조금씩 업그레이트(?)됩니다. 1940년대 발매한 리바이스 506XX 데님자켓중 소량만 생산된 후면이 갈라져 디자인된 506XX 데님자켓을 통칭 T 백 데님자켓이라고 불르고 있습니다. 후면이 T 의 모양과 같이 제작되어 이렇게 불린다고 알려져 있습니다.
              T백으로 변경된 이유는 사이즈에 있습니다.
              발매당시 최하 작은사이즈가 46 이였으며 48사이즈도 발매되는대 1940년대 당시 셀비지 데님원단의 최대폭이 80cm이기에 큰사이즈를 만들기에 폭이 부족해 이렇게 절개되서 발매되었다고 알려져 있습니다.
              다음엔 주머니에 덮개가 추가되고 다음엔 주머니 옆에 레드탭이 추가됩니다. 리바이스 청바지에도 붙이 있는 빨간색 탭입니다. 
              <img src="/images/story/3-4.png" alt="">
              <br><br>
              그리고 세계 2차 대전이 시작되었습니다. 전쟁이 나면 1순위는 군대입니다. 군대에 모든 게 투자되면서, 다른 것을 아끼기 시작했고 의료 제조도 예외는 아니었습니다. 아래의 사진에서 어떤 것이 바뀌었는 지 보이시나요? 
              <br>
              <img src="/images/story/3-7.png" alt="">
              <img class="half-img" src="/images/story/3-8.png" alt="">
              일단 주머니 덮개가 다시 빠지고, 앞단의 단추도 5개에서 4개로 줄었습니다. 그리고 하나 더, 단추의 모양도 바뀌었습니다. 이유는 2가지가 있습니다. 일단 가운데가 파져있으니 금속을 덜 쓰게 되고 단추에 브랜드 이름이 아니라 평화를 상징하는 월계수를 사용하면서 다른 브랜드와도 호환이 가능하게 했습니다. 
              이 당시에 청바지도 도넛 단추를 사용하고 앞주머니의 리벳을 빼고, 실을 아끼기 위해 뒷주머니에 리바이스의 상징인 갈매기 모양 바르질을 프린팅으로 대체했습니다. 
              <br><br>
              이 다음 506자켓은 허리를 조절하는 신치백이 업데이트 됩니다. 기존의 신치백은 갈고리 형태였습니다. 하지만 이게 자동차 시트를 너무 손상시켜서 슬라이더 형식으로 바뀌었습니다. 청바지도 비슷합니다. 원래 뒷주머니에 리벳이 달려있었고, 차 시트에 긁혀 리벳을 숨겨버렸습니다. 
              <img src="/images/story/3-9.png" alt="">
              <img class="half-img" src="/images/story/3-10.png" alt="">
              <br><br>
              전쟁이 끝나고 506 1세대 자켓은 다시 회복됩니다. 주머니 덮개가 다시 생기고 도넛이 아닌 채워진 버튼을 다시 5개로 달았습니다. 이걸 마지막으로 1세대 자켓이 끝이 나고, 1953년 2세대 507자켓이 등장합니다. 

            </p>

            <!-- <a class="next-episode" href="/episode3">> 제 3장 - 아주아주 재밌는 청자켓 이야기</a> -->
        </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
