<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/episode.css">
    <title>1장</title>
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
        <h2>제 1장 - 데님의 역사</h2>

        <div id="container">
            <p class="basis-content">
            첫 시작은 제가 요즘 빠진 옷, 데님에 대하여 이야기 해보려 합니다.
            아는 이야기나 브랜드도 당연히 나오겠지만 모르는 이야기가 나오더라도
            <span class="hightlight"> 분명히</span> 재미있으실 겁니다. 이제 데님에 대해 알아가봅시다.
            </p>

            <p class="subheadline">데님의 기원과 청바지의 역사
            </p>
            <p class="basis-content">
            청바지의 역사를 알기 위해 처ㅇ바지를 만들 때 쓰이는 원단인 <span class="hightlight">데님</span>의 역사부터 출발해야 합니다. 데님의 시초는 17세기 이탈리아의 북부 지방에서 지역 노동자들을 위한 옷을 만들 때 쓰이던 푸른 원단이라고 합니다. 이 원단은 주로 이탈리아 북부 항구도시인 Genoa에서 수출되었고, 다양한 원단과 리본으로 유명했던 남부 프랑스 마을 Nimes에도 도달하게 됩니다. 프랑스에서는 이 원단을 "blue de Genes", Genoa의 푸름(blue)이라고 불렀는데 이는 이후 Blue Jeans(청바지)로 변형되어 불리게 됩니다.
            <img src="/images/story/지도.png" alt="">
            Nîmes의 직공들은 이 이탈리아산 원단을 재해석하여 더욱 특특하게 변형시킵니다. 왜냐? 대부분의 광부들은 주머니에 돌같은 날까롭고 딱딱한 것들을 넣었다고 합니다. 그래서 주머니가 쉽게 헐어 이를 보완하게 위한 더 튼튼한 원단이 필요했습니다. 이렇게 개선된 원단은 불어로 Nîmes(님)에서 온 원단이라는 뜻인 <span class="hightlight">"Serge de Nîmes"</span>이라 불립니다. 이는 줄여 오늘 날의 <span class="hightlight">데님</span>이라는 단어의 시초가 됩니다.
            <img src="/images/story/1.png" alt="">
            원단 자체가 유럽에서 등장한 만큼, 유럽의 노동자들(농부, 광부 등)은 최소 몇 년 동안 데님 혹은 유사한 거친 원단으로 짜인 바지와 자켓을 입어왔습니다. 현존 가장 오래된 데님자켓은 German Historical Commission of the Rhineland에서 보관 중이며, 연식은 1805-1810년도로 추정된다고 합니다.
            <br><br>
            이후, 유럽 노동자들이 미국으로 이민을 가며 데님 또한 미국에 퍼지게 됩니다. 1848-1855년에는 서부 캘리포니아 지역에서 금이 나온다는 소문에 다수의 주민들이 서쪽으로 이동하는 골드 러쉬가 일어나는데, 여기서부터 많은 사람들이 알고 있는 <span class="hightlight">리바이스</span>의 역사가 시작됩니다.
            <br><br>
            이 데님의 유래, 아주아주 재밌게 보셨나요?
            <br>
            1장만 다 보셨어도 충분히 흥미를 느끼셨을 거라 생각합니다. 다음 장부터는 더 깊고 재밌는 데님에 대해 알아가보겠습니다.
            </p>

            <a class="next-episode" href="/episode2">> 제 2장 - 리바이스의 탄생</a>
        </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
