<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/episode.css">
    <title>2장</title>
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <%- include('includes/banner', {banner:"Episode"})%>
        <h2>제 2장 - 리바이스의 탄생</h2>

        <div id="container">
            <p class="basis-content">
            이번 장에서는 리바이스의 시초, 시작, 탄생에 관한 이야기를 해볼겁니다. 리바이스는 많은 분들이 알고 있는 브랜드라고 생각합니다. 브랜드 명칭은 모르더라도 탭이나 주머니의 갈머기(?) 모양을 보면 "아~이거?" 하시는 브랜드일 거에요. 가봅시다.
            <img class="half-img" src="/images/story/2-1.jpg" alt="">
            </p>

            <p class="subheadline">리바이 스트라우스와 데이비스 제이콥
            </p>
            <p class="basis-content">
            1829년, 오늘날의 독일 지역에서 태어나 18살이었던 1847년에 가족과 함께 미국 뉴욕으로 이주한 한 Löb Strauß라는 인물이 있었습니다. 미국으로 이주한 그는 Levi Strauss라는 이름을 쓰게 되었습니다. 가족과 함께 장사를 하던 그는 금을 찾아 서쪽으로 떠나는 미국인들을 지켜보며 <span class="hightlight">한 가지 사실</span>을 알게 되었습니다. 
            <br>
            <br>
            일확천금의 꿈을 가지고 서쪽으로 떠난 사람들보다 그들을 상대로 사업을 하는 사람들이 더 큰 돈을 벌고 있다는 것이었습니다. 실제로 흔히 서부개척시대라고 부르기도 하는 이 시대에 금을 찾아 떠난 사람들은 많은 경우 금을 찾아 꿈을 이루기는 커녕 오히려 더 궁핍한 삶을 살게 되기도 했습니다. 사람들이 갑자기 몰려들기 시작하면서 계획없이 도시가 급작스럽게 커졌기 때문에 위생을 비롯한 삶의 질도 아주 떨어졌습니다. 기록에 따르면, 금을 찾아 서쪽으로 떠난 미국인들 중 약 20%정도가 도착 후 첫 6개월 안에 사망했을 정도였습니다.(당시의 기술로는..)
            <br>
            <br>
            이런 상황에서 리바이 스트라우스는 큰 돈을 벌기 위해서는 금을 찾아 나설 것이 아니라 금을 찾아 나서는 이들을 상대로 사업을 벌어야 한다는 사실을 빠르게 눈치챘습니다. 1853년 오늘날의 캘리포니아 지역으로 이주한 그는 새로운 땅에서 옷, 그 중에서도 바지를 만드는 데 필요한 천을 비롯한 원재료를 재단사들에게 팔기 시작했습니다. 그리고 그에게 원재료 납품 받았던 이중 한 명이 1834년 유럽의 라트비아 지역에서 태어나 1850년 캘리포니아로 이주했던 제이콥 데이비스라는 재단사였습니다. 
            <img src="/images/story/2-2.png" alt=""> 
            청바지는 바로 리바이 스트라우스와 제이콥 데이비스의 아이디어로 세상에 나오게 됩니다. 스트라우스가 처음으로 캘리포니아 지역으로 떠난 지 17년이 넘게 지난 1870년, 재단사였던 제이콥 데이비스에서 한 여인이 찾아왔습니다. 그는 자신의 남편이 입는 바지 주머니가 계속해서 찢어진다고 불평을 했습니다. 당시 금광을 비롯한 여러 광산에서 일하는 광부들은 바지 주머니에 돌을 넣고 작업을 했는데, 이 때문에 주머니가 계속 찢어졌던 것입니다. 손님의 불평을 들은 데이비스는 자신에게 원재료를 납품하던 스트라우스에게 이런 사실을 전달했고, 둘은 기존의 천보다 보다 튼튼했던 재료로 바지를 만든 다음에 찢어지기 쉬운 약한 부분들을 추가적으로 구리로 된 못으로 고정시켜 놓기까지 했습니다.
            이들이 선택한 재료는 오늘날에도 청바지의 재료로 많이 쓰이는 데님이었는데, 참고로 데님이라는 이름의 유래로는 프랑스의 님이라는 지역의 이름이 있습니다. (1장에서 소개했던)    
            <img src="/images/story/2-3.png" alt=""> 
            </p>

            <p class="subheadline">리바이스의 탄생 </p>
            <p class="basis-content">
            둘의 새로운 아이디어는 곧바로 엄청난 인기를 끌었습니다. 첫 해에는 5800벌이 넘는 바지가 팔렸고, 10년 후에는 이들의 공장에서 500명이 넘는 노동자가 일할 정도였습니다. 물론, 당연히 다른 상인들도 이 소식을 접했습니다. 이들은 데이비스와 스트라우스의 아이디어를 흉내내서 유사한 바지를 만들어내기 시작했고 이에 대응하기 위해 둘은 자신들의 새로운 제품을 특허로 등록하기로 결정했습니다. 
            <img class="half-img" src="/images/story/2-4.png" alt=""> 
            문제는 데이비스가 특허 등록의 행정적 절차에 필요한 비용을 아까워했다는 것이었습니다. 사업적 수완이 뛰어났던 트라우스는 곧바로 이를 눈치채고 그에게 특허 비용을 위해 필요한 자금을 자신이 전부 부담하는 대신 특허의 지분을 자신이 갖는다는 제안을 했고 데이비스는 이에 동의했습니다. 
            </br>
            오늘날 우리에게 청바지를 파는 대표적인 브랜드로 <span class="hightlight">리바이스</span>라는 이름이 익숙한 것은 결과적으로 이때의 결정 덕분입니다. 데이비스는 특허의 권리를 넘긴 이후에도 스트라우스와 사업을 했는데 나중에는 스트라우스의 청바지 공장에서 공장장으로 일하기도 했습니다. 
            <br>한편, 청바지를 가리키는 말이 처음부터 "진"이었던 것은 아니었습니다. 사실 데이비스와 스트라우스는 자신들이 개발한 바지를 <span class="hightlight">웨이스트 오버롤</span>이라고 불렀습니다. 진이라는 이름이 퍼지게 된 계기에도 여러 추측이 있는데 그 중에서도 이탈리아의 도시인 제노바의 선원들이 외형적으로 비슷하게 보이는 바지를 입었다는 것에서 진이라는 이름의 유래를 찾는 설이 많이 퍼졌습니다. 
            <br><br>
            다음 이야기는 청바지가 아닌, <span class="hightlight" >청자켓</span>에 대한 이야기를 해보겠습니다.
            <br><br>
            </p>

            <a class="next-episode" href="/episode3">> 제 3장 - 아주아주 재밌는 청자켓 이야기</a>
        </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
