<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/sign-up.css">
  </head>
  <body>
    <%-include('includes/header') %>
    <main>
        회원가입
    </main>

    <%-include('includes/footer') %>
  </body>
</html>
