<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/stockist.css">
  </head>
  <body>
    <%-include('includes/header') %>

    <main>
      <%- include('includes/banner', {banner:"Stockist"})%>

      <div id="content-container">
        <p id="content">
          현재 오프라인 쇼핑 매장 총 정리 중입니다.
          <br>
          조금만 기다려주시면 감사하겠습니다!
        </p>
      </div>
    </main>

    <%-include('includes/footer') %>
  </body>
</html>
