<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>

    <link rel="stylesheet" href="/styles/upload-post.css" />
    <title>카페 글쓰기</title>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <%- include('includes/banner', {banner:"Cafe"})%>

      <div id="container">
        <h2 id="title">카페글쓰기</h2>

        <form action="upload-post" method="POST" enctype="multipart/form-data">
          <div id="what-post">
            <select name="post_kind" id="">
              <option value="" disabled selected>
                게시판을 선택해 주세요.
              </option>
              <optgroup label="Fashion">
                <option value="오뭐신">오뭐신</option>
                <option value="오늘의 룩">오늘의룩</option>
                <option value="골라줘">골라줘</option>
                <option value="발매정보">발매정보</option>
                <option value="세일정보">세일정보</option>
              </optgroup>
              <optgroup label="Lifestyle">
                <option value="자유">자유</option>
                <option value="밥밥">밥밥</option>
                <option value="유머">유머</option>
                <option value="일상">일상</option>
                <option value="운동">운동</option>
              </optgroup>
            </select>
            <input
              type="text"
              name="title"
              id="title"
              placeholder="제목을 입력해주세요."
            />
          </div>

          <div id="text-container">
            <textarea
              name="content"
              id="content"
              placeholder="내용을 입력하세요."
            ></textarea>

            <input type="file" name="images" id="images" multiple />
          </div>

          <button>등록</button>
        </form>
      </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
