h2 {
  font-weight: bold;
  margin: 4rem auto;
}

#content-container {
  width: 50rem;
  margin: auto;
  line-height: 1.8;
}

#content {
  text-align: left;
  font-size: 1.2rem;
  color: rgb(27, 32, 40, 0.7);
}

span {
  color: rgb(27, 32, 40);
  font-weight: bold;
}

span a {
  color: rgb(27, 32, 40);
}

span a:hover {
  color: rgb(234, 207, 31);
}

img {
  width: 100%;
  margin: 1rem auto;
}
