h2 {
    text-align: center;
    font-weight: bold;
    margin: 4rem auto;
}

#content-container {
    margin: 2rem auto;
    width: 30rem;
}

#content {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(27,32,40);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 4rem auto 4rem auto;
    width: 100rem;
}

.grid-item {
    text-align: center;
    border: 2px solid rgb(27,32,40);
    border-radius: 6px;
    box-sizing: border-box;

    background-color: white;
    color: rgb(27,32,40);

    width: 20rem;
    height: 28rem;

    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

.grid-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border:none;
    box-sizing: border-box;
    border-radius: inherit;
}

.grid-item img {
    display: block;
    width: 20rem;
    height: 24rem;
    border-bottom: 2px solid rgb(9, 24, 58); 
    border-radius: inherit;
    object-fit: cover;
}

.grid-item a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
}

.grid-item:hover {
    font-weight: bold;
    background-color: rgb(27,32,40);
    cursor: pointer;
    border-radius: 8px;
    color: rgb(234, 207, 31);
    font-size: 1.5rem;
}

.link-text {
    display: block;
    margin: 0.8rem 0;
}