h3 {
  color: rgb(234, 207, 31);
  font-weight: bold;
  margin: 2rem;
}

h3 span {
  font-size: 1rem;
  color: rgb(156, 59, 64);
}

#container {
  width: 90rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.content-container {
  text-align: center;
  margin-inline: auto;
  width: 25rem;
  height: 31rem;

  border: 2px solid rgb(9, 24, 58);
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 2px solid rgb(9, 24, 58);
}

.img-container img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  display: block;
}

.img-container a {
  text-decoration: none;
}

.content-container:hover {
  background-color: rgb(27, 32, 40);
  color: rgb(234, 207, 31);
  font-weight: bold;
  border-radius: 6px;
}

.content-container p {
  margin: 0.5rem 0;
  margin-bottom: 0;
}

.subheading {
  margin: 0;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
}

.subheading:hover {
  color: inherit;
}

@media (max-width: 90rem) {
  #container {
    width: 60rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 60rem) {
    #container {
      width: 30rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  