#container {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  margin-top: 2rem;
}

#left-container {
  border-block: 3px solid rgb(27, 32, 40);
  width: 12rem;
  height: 32rem;
  padding-block: 0.5rem;
  margin-right: 1rem;
}

#left-container #nickname {
  display: block;
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}

#left-container #nickname:hover {
  text-decoration: underline;
  color: rgb(156, 59, 64);
}

#left-container #date {
  margin: 0;
  color: rgb(27, 32, 40, 0.5);
  font-size: 0.8rem;
  font-weight: 500;
}

#left-container #upload-post-btn {
  display: block;

  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  padding: 0.2rem 0.4rem;

  background-color: rgb(224, 218, 207);

  border-radius: 4px;
}

#left-container #upload-post-btn:hover {
  background-color: rgb(156, 59, 64);
  color: rgb(224, 218, 207);
  font-weight: 900;
}

#left-container #posts {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.3rem;
  padding-block: 0.3rem;
  padding-left: 0.5rem;

  border-top: 3px solid rgb(27, 32, 40);
  border-bottom: 3px solid rgb(224, 218, 207);
}

#left-container #fashion {
  text-align: left;
  font-size: 1rem;
  font-weight: 800;

  margin: 0;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;

  border-bottom: 1.5px solid rgb(224, 218, 207);
}

#left-container #lifestyle {
  text-align: left;
  font-size: 1rem;
  font-weight: 800;

  margin: 0.3rem 0;
  padding-block: 0.3rem;
  padding-left: 0.5rem;

  border-top: 3px solid rgb(224, 218, 207);
  border-bottom: 1.5px solid rgb(224, 218, 207);
}

#left-container .post-items {
  display: block;

  text-align: left;
  font-size: 1rem;
  font-weight: 500;

  margin: 0;
  padding-block: 0.1rem;
  padding-left: 0.5rem;
}

#left-container .post-items:hover {
  text-decoration: dashed;
  font-weight: bold;
  color: rgb(156, 59, 64);
}

#right-container {
  width: 48rem;
  padding: 2rem;

  border: 2px solid rgb(224, 218, 207);
  border-radius: 8px;
}

#right-container #post-info {
  text-align: left;
  padding-bottom: 1rem;

  margin: 0;
  border-bottom: 1px solid rgb(224, 218, 207);
}

#right-container #post-kind {
  display: block;

  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  color: rgb(156, 59, 64);
}

#right-container #title {
  font-size: 1.5rem;
  margin: 0;
}

#right-container #post-profile {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#right-container .author-profile-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

#right-container #user-nickname {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900;
}

#right-container #post-date {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;

  color: rgb(27, 32, 40, 0.5);
}

#right-container #detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right-container .authority-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#right-container #detail-container .authority {
  font-size: 1rem;

  border: none;
  background: none;
}

#right-container #detail-container .authority:hover {
  color: rgb(156, 59, 64);
  font-weight: 900;
}

#right-container #content-container {
  margin-top: 1rem;
  border-bottom: 3px solid rgb(27, 32, 40);
}

#right-container #content-container #content {
  text-align: left;
  font-size: 1rem;
  white-space: pre-wrap;
  margin: 0;
}

#right-container #content-container #img-container {
  width: 44rem;
}

#right-container #content-container .post-image {
  width: 100%;
  margin-top: 1rem;
}

#container #content-container #see-more {
  display: block;
  text-align: left;

  font-size: 0.9rem;
  margin-block: 2rem;
}

#container #content-container #see-more span {
  font-weight: 900;
}

#heart-container {
  text-align: left;
  margin-block: 0.5rem;
}

#heart-container #heart-button {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#heart-container #heart {
  width: 1.1rem;
  height: 1.1rem;
}

#heart-container #heart-text,
#heart-container #like-count {
  font-size: 1.1rem;
}

#container #comment-container {
  width: 44rem;
}

#container #comment-list {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

#container #comment-list .comment-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 1rem;

  border-bottom: 1px solid rgb(224, 218, 207);
}

#container #comment-list .comment-item .comment-profile {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#container #comment-list .comment-item .comment-profile img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

#container #comment-list .comment-item .user-info {
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}

#container #comment-list .comment-item .comment {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

#container #comment-list .comment-item .date {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(27, 32, 40, 0.5);
}

#container #comment-container #comment-input-container {
  align-items: baseline;
  padding: 1.5rem;
  margin-top: 1rem;

  border: 1px solid rgb(224, 218, 207);
  border-radius: 8px;
}

#container #comment-container #comment-input-container p {
  text-align: left;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

#container #comment-container #comment-input-container input {
  display: block;
  text-align: left;
  font-size: 1rem;
  width: 41rem;

  border: none;
  outline: none;
  resize: none;
  padding: 0;
}

#container #comment-container #comment-input-container input::placeholder {
  color: rgb(27, 32, 40, 0.5);
}

#container #comment-container #comment-input-container button {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border: none;

  margin: 0;
  margin-top: 1rem;
  padding: 0;
  color: rgb(27, 32, 40, 0.5);
}

#container #comment-container #comment-input-container button:hover {
  font-weight: 900;
}

@media (max-width: 60rem) {
  #container {
    width: 100%;
    flex-direction: column;
  }

  #left-container {
    border-bottom: none;
  }

  #left-container,
  #right-container {
    width: 30rem;
    margin: auto;
  }

  #right-container #post-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  #right-container #content-container #img-container {
    width: 26rem;
  }

  #container #comment-container {
    width: 26rem;
  }

  #container #comment-container #comment-input-container input {
    width: 23rem;
  }
}
