/* 1.	Olive Drab: RGB(107, 142, 35)
2.	Dark Olive Green: RGB(85, 107, 47)
3.	Army Green: RGB(75, 83, 32)
4.	Khaki Green: RGB(143, 143, 76)

밀리터리 느낌의 베이지 계열

1.	Khaki: RGB(195, 176, 145)
2.	Tan: RGB(210, 180, 140)
3.	Dark Khaki: RGB(189, 183, 107)
4.	Sand: RGB(237, 201, 175) */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR";
  font-family: "Pretendard";
  /* font-family: "무신사"; */
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}

#main-header {
  background-color: rgb(27, 32, 40);
  font-family: "Kleader", "CooperFiveOpti";
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1.5px solid rgb(9, 24, 58);
  position: sticky;
  top: 0;
  z-index: 1000;
}

#logo {
  margin-left: 2rem;
  font-weight: bolder;
  font-size: 2rem;
}

#logo a {
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  color: rgb(234, 207, 31);
}

#logo a:hover {
  border: 1.5px dashed rgb(234, 207, 31);
  border-radius: 6px;
}

nav {
  margin-right: 2rem;
}

#main-header ul {
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
}

#main-header .nav-item {
  margin-left: 1rem;
}

#main-header .nav-item a,
#main-header .nav-item button {
  text-decoration: none;
  display: block;
  padding: 0.25rem 0.75rem;

  color: rgb(234, 207, 31);
  background-color: rgb(27, 32, 40);
  border: 1.5px solid rgb(27, 32, 40);
  border-radius: 4px;
}

#main-header .nav-item a:hover,
#main-header .nav-item a:active,
#main-header .nav-item button:hover,
#main-header .nav-item button:active {
  font-weight: bold;
  color: rgb(234, 207, 31);
  background-color: rgb(9, 24, 58);

  border: 1.5px dashed rgb(234, 207, 31);
  border-radius: 6px;
}

footer {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1.5px solid rgb(9, 24, 58);
  display: flex;
  justify-content: space-around;
}

footer div p,
footer div a {
  display: block;
  color: rgb(234, 207, 31);
  text-align: left;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

footer div a:hover,
footer div p:hover {
  color: rgb(156, 59, 64);
  font-weight: bold;
}

#name {
  color: rgb(27, 32, 40);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
}

#name2 {
  color: rgb(27, 32, 40);
}

#info {
  margin: 1rem 0;
}

.btn {
  color: rgb(75, 83, 32);
}

.btn:hover {
  font-weight: bold;
  background-color: rgb(9, 24, 58);
  color: rgb(234, 207, 31);
  border: 1px dashed rgb(234, 207, 31);
}

#aside-navigation {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}

.aside-items {
  display: block;
  margin-block: 0.4rem;
  border: 2px double rgb(234, 207, 31);
}

#aside-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 20rem;
  height: 100vh;
  padding-top: 2rem;
  background-color: rgb(27, 32, 40);
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}

#aside-container.active {
  right: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

#overlay.active {
  display: block;
  opacity: 1;
}

.aside-item {
    list-style: none;
    padding: 1rem;
}

.aside-item a, .aside-item form button {
    font-family: "Kleader", "CooperFiveOpti";
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;

    color: rgb(234, 207, 31);
    background: rgb(27, 32, 40);
    border: 2px dashed rgb(27, 32, 40);
    border-radius: 4px;
}

.aside-item a:hover,
.aside-item form button:hover {
    color: rgb(156, 59, 64);
    border: 2px dashed rgb(156, 59, 64);
}

header {
  transition: filter 0.3s ease-in-out;
}

header.blurred {
  filter: blur(5px);
}

@media (max-width: 100rem) {
  nav {
    display: flex;
  }

  #aside-navigation {
    display: none;
  }
}

@media (max-width: 60rem) {
  nav {
    display: none;
  }

  #aside-navigation {
    display: flex;
  }
}
