#container {
  width: 60rem;
  margin: 0 auto;
  margin-top: 2rem; 
}

#container #title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding-bottom: 0.3rem;
  color: rgb(27, 32, 40);
  border-bottom: 3px solid rgb(27, 32, 40);
}

#container #what-post {
  width: 60rem;
  border: 1px solid rgb(224, 218, 207);
  border-radius: 8px;
  padding-block: 1.5rem;
  margin-top: 2rem;
}

#container #what-post select {
  width: 20rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid rgb(224, 218, 207);
}

#container #what-post select:focus,
input:focus,
#container #text-container textarea:focus {
  outline: none;
}

#container #what-post option:focus {
  background-color: rgb(224, 218, 207);
}

#container #what-post input {
  margin: auto;
  font-size: 1.2rem;
  display: block;
  padding: 0.7rem 1.2rem;
  width: 55rem;

  color: rgb(27, 32, 40);
  border: 1px solid rgb(224, 218, 207);
  border-radius: 8px;
  background-color: rgb(224, 218, 207);
}

#container #what-post input::placeholder {
  color: rgb(27, 32, 40, 0.5);
}

#container #text-container {
  width: 60rem;
  padding: 2rem;
  margin-top: 1rem;

  border: 1px solid rgb(224, 218, 207);
  border-radius: 8px;
}

#container #text-container textarea {
  resize: none;
  width: 56rem;
  height: 25rem;
  border: none;
  font-size: 1rem;
}

#container #text-container input {
    border-top: 1px solid rgb(224, 218, 207);
    padding-top: 1rem;
    width: 56rem;
    font-size: 1rem;
}

#container button {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;

  background-color: rgb(224, 218, 207);
  border: 1px solid rgb(224, 218, 207);
  border-radius: 8px;
}

#container button:hover {
  font-weight: bold;
  background-color: rgb(27, 32, 40);
  border: 1px dashed rgb(234, 207, 31);
  color: rgb(234, 207, 31);
}