#button-container {
    margin: 1rem auto;
    text-align: center;
}

.filter-btn {
    background-color: white;
    border: none;
    color: rgb(75, 83, 32);
    font-size: 1.3rem;
}

.filter-btn:hover {
    color: rgb(9, 24, 58);
}

.line {
    color: rgb(234, 207, 31);
}

hr {
    color: rgb(9, 24, 58);
    width: 60%;
    margin: 0 auto;
}

#clothes-item {
    margin: 0.5rem;
}

#clothes-item:last-child {
    margin-bottom: 1rem;
}

#cloth-site {
    color: rgb(75, 83, 32);
    
}

#cloth-site:hover {
    color: rgb(234, 207, 31);
}

#line {
    color: rgb(107, 142, 35);
}

#cloth-brand {
    color: rgb(9, 24, 58);
}

.delete-btn {
    border: none;
    color: rgb(107, 142, 35);
    background-color: white;
}

.delete-btn:hover {
    color: rgb(234, 207, 31);
    background-color: rgb(9, 24, 58);
    border: 1px dashed rgb(234, 207, 31);
    border-radius: 6px;
    font-weight: bold;
}

#deleteWindow {
    background-color: white;
    display: none;
    width: 35%;
    margin: auto;
    height: 10rem;
    border: 4px solid rgb(75, 83, 32);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#deleteWindow p {
    margin-top: 1.5rem;   
    color: rgb(75, 83, 32);
}

#deleteWindow button {
    color: rgb(107, 142, 35);
    border-color: rgb(107, 142, 35);
}

#deleteWindow button:hover {
    font-weight: bold;
    background-color: rgb(9, 24, 58);
    color: rgb(234, 207, 31);
    border: 1px dashed rgb(234, 207, 31);
}
